.company-teaser {
  display: grid;
  background-color: #eee;
  padding: .5rem;
  grid-template-areas:
    "logo title"
    "logo description";
  grid-gap: .5rem;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: min-content 1fr;
  margin-bottom: 1rem;
}

.company-logo {
  grid-area: logo;
  width: 5rem;
  height: 5rem;
}

.company-teaser-title {
  grid-area: title;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: .125rem;
}

.company-teaser-text {
  grid-area: description;
  font-size: 1rem;
}
