.zone-inner--header {
  padding-top: .5em;
  padding-bottom: .5em;
}

h1.site-title {
  margin: 0;
}

.site-title-link {
  color: white;
  text-decoration: none;

  &:hover {
    color: rgba(white, .85);
  }
}
