.site-header {
  background-color: #444;
  margin-bottom: 1rem;
}

.cols {
  display: flex;
  margin-bottom: 1em;
}

.col {
  &__first {
    margin-right: 1em;
  }

  &__last {
    margin-right: 0;
  }

  .cols__equal > & {
    flex: 1;
  }
}

.fontsize__small {
  font-size: .9em;
}

#dynamic-data-wrapper {
  max-height: 46vh;
  overflow-y: scroll;
  padding: 1.5em;
  border: 1px solid #ddd;
}